/* main rulez */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all .54s ease-out
}

.container {
    margin: auto
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #f3efef;
    /* center element */
    text-align: center;
    height: 1000px
}


/* end rulez */


/* header and profile image */

header {
    padding: 150px
}

header img {
    width: 260px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #b74545;
    box-shadow: 2px 2px 3px #111
}

header h2 {
    font-family: 'Black Han Sans', sans-serif;
    font-weight: normal;
    color: #FFF;
    text-shadow: 2px 2px 5px #000
}


/* Start Cards */

.cards {
    overflow: hidden;
    text-align: center;
    margin: auto
}

.cards .card {
    width: 90%;
    margin: auto;
    padding: 15px;
    margin: 15px auto;
    text-align: left
}

.cards .card p {
    font-size: 1em;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: 500
}


/* End  header and profile image */

@media only screen and (min-width: 1175px) {
    /* Main Contianer */
    .container {
        width: 1170px
    }
    /* header and profile image */
    /* Start Cards */
    .cards {
        overflow: hidden
    }
    .cards .card {
        min-height: 314px;
        float: left;
        text-align: left;
        padding: 20px;
        margin-bottom: 30px;
        box-shadow: 1px 1px 12px black;
        font-family: 'Open Sans', sans-serif;
    }
    /* End Card */
    /* Easy Profile */
    .cards .easy {
        width: 48%;
        margin-right: 2%;
        background-color: #f3efef;
        color: #e18e8a
    }
    /* EndEasy Profile */
    /* Skills */
    .skills {
        width: 48%;
        background-color: #e18e8a;
        color: #f3efef;
        margin-left: 2%
    }
    .cards .skills ul li {
        padding: 10px 10px
    }
    .cards .skills ul li h4 {
        padding: 1px 0;
        margin: 5px 0;
        display: inline-block;
        text-transform: uppercase
    }
    .cards .skills ul li h4:last-of-type {
        float: right
    }
    .cards .skills ul li div {
        display: block;
        width: 100%;
        height: 5px;
        background-color: #f3efef
    }
    .cards .skills ul li:nth-of-type(1) div span {
        display: block;
        width: 85%;
        height: 100%;
        background-color: #b74545
    }
    .cards .skills ul li:nth-of-type(2) div span {
        display: block;
        width: 65%;
        height: 100%;
        background-color: #b74545
    }
    .cards .skills ul li:nth-of-type(3) div span {
        display: block;
        width: 60%;
        height: 100%;
        background-color: #b74545;
    }
    .cards .skills ul li span {
        text-align: right
    }
    /* End Skills */
    /* Education */
    .edu {
        width: 58%;
        margin-right: 2%;
        background-color: #e18e8a;
        color: #f3efef
    }
    .edu div {
        overflow: hidden
    }
    .edu div h4 {
        padding: 0;
        margin: 0 0 10px 0
    }
    .edu div h4:first-of-type {
        float: left
    }
    .edu div h4:last-of-type {
        float: right;
        padding-right: 20px;
        margin-right: 20px
    }
    /* End Education */
    /* Languges  */
    .lang {
        width: 38%;
        margin-left: 2%;
        background: #f3efef;
        color: #e18e8a
    }
    .lang ul {
        margin-top: 20px;
        padding-top: 20px;
        list-style: disc;
        list-style-position: outside;
        margin-left: 25px;
        font-weight: bold
    }
    .lang ul h6 {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 25px;
        font-size: .8em;
        font-weight: normal;
    }
    /* End Languges */
    /* Contact Me */
    .contact {
        width: 38%;
        margin-right: 2%;
        background-color: #f3efef;
        color: #e18e8a
    }
    .contact ul li {
        margin-top: 25px;
    }
    .contact li {
        margin: 20px 0
    }
    .contact ul li a {
        text-decoration: none;
        color: #e18e8a
    }
    .contact ul li i {
        margin-right: 20px
    }
    /* Expresince */
    .exp {
        width: 58%;
        margin-left: 2%;
        background-color: #e18e8a;
        color: #f3efef
    }
    /* End Experncee*/
}


/* My Framework */

ul {
    padding: 0;
    margin: 0;
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif
}